.DS_Store
1.ipynb
mlops/model.pt
bin/
conda-meta/
doc/
etc/
include/
lib/
libexec/
man/
mkspecs/
mysql-test/
mysql/
plugins/
qml/
resources/
sbin/
share/
ssl/
translations/
week10_cnn_seminar.ipynb
.ipynb_checkpoints/
val_results.csv
mlops/__pycache__/
